* {
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* display: none; */
}
#startScreen {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-image: url(./design-elements/cafe.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  background-position: center;
  text-align: center;
}
h1 {
  font-size: 80px;
  font-family: helvetica;
  color: #fdf5e0;
  text-shadow: 5px 5px #c75a4b;
}
#enter {
  font-size: 20px;
  padding: 10px 30px;
  font-family: helvetica;
  color: #fdf5e0;
  background-color: #e18074;
  border-radius: 5px;
  border: #fdf5e0 solid 5px;
  cursor: pointer;
}
#instructions {
  width: 400px;
  margin: 70px;
  background-color: #e18074;
  font-family: helvetica;
  border: #fdf5e0 solid 10px;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}
/* <----- Controls ----->  */
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: helvetica;
  border: 2px solid black;
  padding: 50px 30px;
}
.timer {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.score {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.lives {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.start {
  font-family: helvetica;
  padding: 5px 10px;
  font-size: 15px;
  background-color: coral;
  border: 1px solid black;
  cursor: pointer;
}

/* <----- Basic grid styling for tester stage -----> */
.grid-wrapper {
  height: 900px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  width: 700px;
}

.grid div {
  border: 1px solid black;
  height: 11.11%;
  width: 9%;
}

/* <----- Basic test sprites -----> */

.soup-nazi {
  background-image: url(./design-elements/soup-nazi.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Have created two taxi classes so two can travel together to make it easier to jump on them */
.taxiOne {
  background-image: url(./design-elements/taxi.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.taxiTwo {
  background-image: url(./design-elements/taxi.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.uncle-leo {
  background-image: url(./design-elements/uncle-leo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.bus {
  background-image: url(./design-elements/bus.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.coffee {
  background-image: url(./design-elements/coffee.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.trash {
  background-image: url(./design-elements/trash.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* having George come last in order means he shows above other sprites */
.george {
  background-image: url(./design-elements/george.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.georgeAtHome {
  background-image: url(./design-elements/george.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.busBackdrop {
  background-image: url(./design-elements/busBackdrop.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.taxiBackdrop {
  background-image: url(./design-elements/taxiBackdrop.png);
  background-repeat: no-repeat;
  background-size: contain;
}


/* <----- Border -----> */
.borderLeft {
  background-repeat: no-repeat;
  background-size: contain;
}
.borderRight {
  background-repeat: no-repeat;
  background-size: contain;
}

/* <----- Home stretch -----> */
.home {
  background-color: green;
}
.road {
  background-color: gray;
}
.safeRoad {
  background-color: lightgrey;
}
.midStretch {
  background-color: lightskyblue;
}
.startStretch {
  background-color: lightgreen;
}

