* {
  box-sizing: border-box;
}

/* <----- Basic grid styling for tester stage -----> */
.grid-wrapper {
  height: 900px;
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  width: 700px;
}

.grid div {
  border: 1px solid black;
  height: 11.11%;
  width: 14%;
}

/* <----- Basic test sprites -----> */

.soup-nazi {
  background-image: url(./design-elements/soup-nazi.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.taxi {
  background-image: url(./design-elements/taxi.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.uncle-leo {
  background-image: url(./design-elements/uncle-leo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.bus {
  background-image: url(./design-elements/bus.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* having George come last in order means he shows above other sprites */
.george {
  background-image: url(./design-elements/costanza.png);
  background-repeat: no-repeat;
  background-size: contain;
}


/* <----- Border -----> */
/* Looks shit right now but just testing! */
.border {
  background-image: url(./design-elements/brick.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* <----- Home stretch -----> */
.home {
  background-color: green;
}
.road {
  background-color: gray;
}
.busRoad {
  background-color: gray;
}
