* {
  box-sizing: border-box;
}
body {
  background-color: #f7b12b;
  margin: 0px;
}
#startScreen {
  /* display: none; */
  background-color: #2c70af;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee Shade', cursive;
}
.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 50px;
  width: 55%;
}
.rightSide {
  display: flex;
  align-items: center;
  margin: 30px 60px 30px 20px;
}
#monksFront {
  border-radius: 10px;
  border: 2px solid black;
}
h1 {
  font-size: 70px;
  color: #f0a8c6;
/*   color: #fdf5e0; */
  text-shadow: 3px 3px black;
/*   text-shadow: 2px 2px #fdf5e0; */
  margin: 30px 0 0 0;
}
#enter {
  font-size: 22px;
  padding: 10px 30px;
  font-family: 'Bungee Shade', cursive;
  color: black;
  background-color: #dcddd0;
/*   background-color: #fdf5e0; */
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
}
#instructions {
  margin: 20px;
  background-color: #f0a8c6;
  border: 5px solid #dcddd0;
  outline: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Yeseva One', cursive;
  font-size: 20px;
}
h2 {
  font-size: 40px;
  font-family: 'Bungee Shade', cursive;
}

/* <----- Controls ----->  */
.main {
  justify-content: center;
  align-items: center;
  display: none;
  padding-top: 30px;
}
.leftPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 70px 0px;
  height: 600px;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  border: 2px solid black;
  border-radius: 20px;
  width: 100%;
  padding: 20px 15px;
  margin-bottom: 30px;
  background-color: #36a2b8;
}
.timer {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.score {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.lives {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.start {
  font-family: 'Bungee Shade', cursive;
  padding: 5px 50px;
  font-size: 30px;
  background-color: #df6d58;
  border: 1px solid black;
  cursor: pointer;
}
#seinfeld-frogger {
  height: 430px;
  border: 2px solid black;
  border-radius: 10px;
}
#alert{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #df6d58;
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  margin-top: 150px;
  padding: 0 20px;
  width: 400px;
  height: 500px;
  position: absolute;
  z-index: 10;
}
.alertImage {
  width: 200px;
}
.closebtn {
  margin: 30px;
  padding: 5px 10px;
  font-family: 'Bungee Shade', cursive;
  background-color: #36a2b8;
  font-size: 20px;
  border: 1px solid black;
  cursor: pointer;
}

/* <----- Basic grid styling for tester stage -----> */
.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 50px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 700px;
  width: 750px;
  outline: 2px solid black;
  border-radius: 10px;
  background-color: #df6d58;
}
.grid div {
  display: flex;
  align-items: center;
  height: 11.11%;
  width: 9.09%;
  font-size: 0;
}

/* <----- Different sections of the board -----> */
.home {
  background-image: url(./design-elements/monks.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.home.coffee {
  background-image: url(./design-elements/coffee-cup.png), url(./design-elements/monks.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.home.georgeAtHome {
  background-image: url(./design-elements/george-home.png), url(./design-elements/monks.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.road {
  background-color: #343434;
  border-bottom: 2px white dashed;
}

.safeRoad {
  background-color: #bbbbbb;
  border: 1px dotted #6e7490;
}
.midStretch {
  background-image: url(./design-elements/pavement.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.midStretch.coffee {
  background-image: url(./design-elements/coffee-cup.png), url(./design-elements/pavement.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.midStretch.george {
  background-image: url(./design-elements/george.png), url(./design-elements/pavement.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.startStretch {
  background-image: url(./design-elements/pavement.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.startStretch.borderRight {
  background-image: url(./design-elements/pavement.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.startStretch.borderLeft {
  background-image: url(./design-elements/pavement.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.startStretch.george {
  background-image:  url(./design-elements/george.png), url(./design-elements/pavement.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}



/* <----- Basic test sprites -----> */

.soup-nazi {
  background-image: url(./design-elements/soup-nazi.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Have created two taxi classes so two can travel together to make it easier to jump on them */
.taxiOne {
  background-image: url(./design-elements/taxiFloat.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.taxiTwo {
  background-image: url(./design-elements/taxiFloat.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.uncle-leo {
  background-image: url(./design-elements/uncle-leo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.susan {
  background-image: url(./design-elements/susan.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.busOne {
  background-image: url(./design-elements/bus-resized.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.busTwo {
  background-image: url(./design-elements/bus-resized.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.busThree {
  background-image: url(./design-elements/bus-resized.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.coffee {
  background-image: url(./design-elements/coffee-cup.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.trash {
  background-color: #c4aa9b;
  background-image: url(./design-elements/trash.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* having George come last in order means he shows above other sprites */
.george {
  background-image: url(./design-elements/george.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.george.susan {
  background-image: url(./design-elements/george-collide-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.george.uncle-leo {
  background-image: url(./design-elements/george-collide-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.george.soup-nazi {
  background-image: url(./design-elements/george-collide-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.georgeWithCoffee {
  background-image: url(./design-elements/george-coffee.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.georgeAtHome {
  background-image: url(./design-elements/george-home.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.busBackdrop {
  background-image: url(./design-elements/bus-backdrop.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.taxiBackdrop {
  background-image: url(./design-elements/taxi-backdrop.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}



/* <----- Border -----> */
.borderLeft {
  background-repeat: no-repeat;
  background-size: contain;
}
.borderRight {
  background-repeat: no-repeat;
  background-size: contain;
}



